@page
@model SwapUp.Pages.SignInModel
@{
    ViewData["Title"] = "SignIn";
}


    <div class="signinPage">
        <div class="SigninPageButtonRapper">
            <button class="SigninButton" onclick="window.location.href = 'MainPage';" style="">Sign In</button>

        </div>
    </div>