

@page
@model SwapUp.Pages.SignInModel
@{
    ViewData["Title"] = "SignIn";
}

<link rel="stylesheet" href="~/css/SignInPage.css" />
<div class="signinPage">
    <img a="~/data/SignIn.PNG" style="width : 100%; height: 70%;" />
    <button class="SigninButton"  onclick="window.location.href = 'MainPage';" style="">Sign In</button>
    
</div>

