@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Team WFH</h1>
    <h5>
        <a>Yuqi Wang, </a>
        <a>Linfeng Li, </a>
        <a>Yangyang Liu, </a>
        <a>Sen Yang</a>
    </h5>
</div>

<div class="card-columns">
    @foreach (var product in Model.Products)
    {
        <div class="card">
            <div class="card-img" style="background-image: url('@product.Image');"></div>
            <div class="card-body">
                <h5 class="card-title" onclick=console.log("hellow")>@product.Title</h5>
            </div>
        </div>
    }
</div>