@page
@model SwapUp.Pages.SignInModel
@{
    ViewData["Title"] = "SignIn";
}



    <body class="SignInPage">
        <div class="SigninPageButtonRapper">
            <button class="SigninButton" onclick="window.location.href = 'MainPage';" style="">Sign In</button>

        </div>
    </body>

        
