@page
@model SwapUp.Pages.SignInModel
@{
    ViewData["Title"] = "SignIn";
}

<link rel="stylesheet" href="~/css/SignInPage.css" />
<div class="signinPage">
    <button class="SigninButton" onclick="window.location.href = 'MainPage';" style="">Sign In</button>

</div>