@page
@model SwapUp.Pages.ItemDetailPageModel
@{
    ViewData["Title"] = "ItemDetailPage";
}


<body class="DetailItemPage">
    <div class="DetailPageButtons">

        <div class="Arrows">
            <img class="LeftArrow" src="~/data/Image/ArrowPNG.PNG"/>

            <img class="RightArrow" src="~/data/Image/ArrowPNG.PNG" />
        </div>

        <button class="EmailButton" onclick="SuccessCopy()">example@email.com</button>

    </div>
</body>

<script>
    function SuccessCopy() {
        document.execCommand("example@email.com");
        alert("Your successfully copied the email");
    }
</script>