@page
@model SwapUp.Pages.ItemDetailPageModel
@{
    ViewData["Title"] = "ItemDetailPage";
}

<link rel="stylesheet" href="~/css/DetailItemPage.css" />
<div class="DetailPage">
    <button class="EmailButton">example@email.com</button>
</div>