@page
@model SwapUp.Pages.ItemDetailPageModel
@{
    ViewData["Title"] = "ItemDetailPage";
}

<link rel="stylesheet" href="~/css/DetailItemPage.css" />
<div class="DetailPage">

    <div class="Arrows">
        <img class="LeftArrow" src="~/data/ArrowPNG.PNG" />
        <img class="RightArrow" src="~/data/ArrowPNG.PNG" />
    </div>
    <button class="EmailButton">example@email.com</button>

</div>