@page
@model IndexModel
@{
    ViewData["Title"] = "MainPage";
}




<link rel="stylesheet" href="~/css/site.css" />
<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="text-center">
    <h1 class="display-4">Team WFH</h1>
    <h5>
        <a>Yuqi Wang, </a>
        <a>Linfeng Li, </a>
        <a>Yangyang Liu, </a>
        <a>Sen Yang</a>
    </h5>
</div>
<!-- The form -->
<form class="example" action="SearchedPage">
    <input type="text" placeholder="Searching..." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>

</form>

<a href="UploadPage" class="myButton">Upload items</a>
<div class="card-columns">
    @foreach (var product in Model.Products)
    {
        <div class="card">
            <a href=@product.Href>
                <div class="card-img" style="background-image: url('@product.Image');"></div>
                <div class="card-body">
                    <h5 class="card-title">@product.Title</h5>
                </div>
            </a>

        </div>
    }
 
</div>
<div class="category">
    <label class="container" style="color:blue;font-size:13px;">
        Furnitures
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>
    <label class="container" style="color:blue;font-size:13px;">
        Electronics
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label class="container" style="color:blue;font-size:13px;">
        Books
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label class="container" style="color:blue;font-size:13px;">
        Games
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
</div>

<button class="Pbutton"><a href="PortfolioPage"</a><img src="../data/Image/Portfolio.png" width="50" height="50"></button>