@page
@model SwapUp.Pages.PortfolioPageModel
@{
}

<body>
    <div class="user-account-view">
        <div class="left-bar">
            <h2>My account</h2>
            <div class="fakeimg" style="width:200px;height:150px">UserImage</div>
            <h3>Account Information</h3>
            <div>Username: exampleUsername</div><br>
            <div>Email: example@seattleu.edu</div><br>
            <div>Phone: 206-567-1234</div>
        </div>

        <div class="right-bar">
            <h2>Posted Items</h2>

            <div class="card-columns">

                <div class="card">
                    <a href="ItemDetailPage">
                        <div class="card-img" style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/41U4T1TLkuL._SX258_BO1,204,203,200_.jpg');"></div>
                        <div class="card-body">
                            <h5 class="card-title">C++ Primer Plus Book</h5>
                        </div>
                    </a>
                </div>

                <div class="card">
                    <a href="ItemDetailPage">
                        <div class="card-img" style="background-image: url('https://www.guru99.com/images/uploads/2012/06/head-first-java-original_v1.jpg');"></div>
                        <div class="card-body">
                            <h5 class="card-title">Head First Java Book</h5>
                        </div>
                    </a>
                </div>
            </div>
        </div>
     </div>
</body>