@page
@model SwapUp.Pages.PortfolioPageModel
@{
}

<body>
    <div class="user-account-view">
        <div class="left-bar">
            <h2>My account</h2>
            <div class="fakeimg" style="width:200px;height:150px">UserImage</div>
            <h3>Account Information</h3>
            <div>Username: exampleUsername</div><br>
            <div>Email: example@seattleu.edu</div><br>
            <div>Phone: 206-567-1234</div>
        </div>
        <div class="right-bar">
            <h2>Posted Items</h2>
        </div>
    </div>
</body>