@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<br />

<p>SwapUp guarantee that user information stored in the website is only going to be the usage of the website purpose. SwapUp and Seattle University will not sell, leak, or lend user information for any of the commercial use.  </p>
