@page
@model IndexModel


@{
    ViewData["Title"] = "Searched Page";
}

<link rel="stylesheet" href="~/css/MainPage.css" />
<!-- Load icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    <h3 style="text-align:center">3 Items Found!</h3>
</div>
<!-- The form -->
<form class="example" action="SearchedPage">
    <input type="text" placeholder="Search.." name="search">
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<a href="UploadPage" class="myButton">Upload items</a>

<div class="card-columns">

    <div class="card">
        <a href="ItemDetailPage">
            <div class="card-img" style="background-image: url('https://images-na.ssl-images-amazon.com/images/I/71PGvPXpk5L._AC_SL1500_.jpg');"></div>
            <div class="card-body">
                <h5 class="card-title">PS4</h5>
            </div>
        </a>

    </div>
    <div class="card">
        <a href="ItemDetailPage">
            <div class="card-img" style="background-image: url('https://media.gamestop.com/i/gamestop/10159650/Call-of-Duty-Black-Ops-4');"></div>
            <div class="card-body">
                <h5 class="card-title">Call Duty Game CD</h5>
            </div>
        </a>

    </div>
    <div class="card">
        <a href="ItemDetailPage">
            <div class="card-img" style="background-image: url('https://cdn.vox-cdn.com/thumbor/vobIttnPCGM2hXPhb20zVl6Gf-8=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/9065921/Xbox_One_X_Screenshot_05.jpg');"></div>
            <div class="card-body">
                <h5 class="card-title">Xbox-One</h5>
            </div>
        </a>

    </div>
    <div class="card">
        <a href="ItemDetailPage">
            <div class="card-img" style="background-image: url('https://images.costco-static.com/ImageDelivery/imageService?profileId=12026540&imageId=100388800-847__1&recipeName=350');"></div>
            <div class="card-body">
                <h5 class="card-title">Gaming Chair</h5>
            </div>
        </a>

    </div>


</div>


<div class="category">
    <label class="container" style="color:blue;font-size:13px;">
        Furnitures
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label class="container" style="color:blue;font-size:13px;">
        Electronics
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label class="container" style="color:blue;font-size:13px;">
        Books
        <input type="checkbox">
        <span class="checkmark"></span>
    </label>
    <label class="container" style="color: blue; font-size: 13px;">
        Games
        <input type="checkbox" checked="checked">
        <span class="checkmark"></span>
    </label>
</div>



