@page
@model SwapUp.Pages.UploadPageModel
@{
    ViewData["Title"] = "UploadPage";
}
<link rel="stylesheet" href="~/css/UploadPage.css" />

<div class="upload-div">
    <header>
        <nav class="upload-header-nav">

        </nav>
    </header>
    <h1>UploadPage</h1>
</div>


