@page
@model SwapUp.Pages.UploadPageModel
@{
    ViewData["Title"] = "UploadPage";
}
<link rel="stylesheet" href="~/css/UploadPage.css" />

<div class="upload-div">
    <header class="inner-div-header">
        <p>Ready to Upload</p>
    </header>
</div>


