@page
@model SwapUp.Pages.UploadPageModel
@{
    ViewData["Title"] = "UploadPage";
}
<link rel="stylesheet" href="~/css/UploadPage.css" />

<div class="upload-div">
    <div class="inner-div-header">
        <h2>Ready to Upload</h2>
        <h5>Trade your unused items to create a life-cycle school environment </h5>
    </div>

    <form>
        <input type="file" multiple>
        <p>Drag your picture here or click in this area.</p>
        <button>Upload</button>
    </form>

    <hr class="divider" />

    <textarea rows="4" cols="50" name="comment" form="usrform" class="item-description">
        Descript your item...
    </textarea>
    
    <form>
        <button class="submit-button" onclick="SuccessSubmit()" type="submit" formaction="MainPage">Submit</button>
    </form>
</div>

<script>
    function SuccessSubmit() {
        alert("Your post are successfully posted!");
    }
</script>

