body {
    background-image: url('../data/ItemDetail.PNG');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: center;
    background-size: 80%, 50%;
}
